nav.menu{
    display: inline-block;
}
nav.menu ul{
    list-style: none;
    margin: 0;
    padding: 10px 30px;
    background-color: aquamarine;
   
    display: none;

}
.btn-menu{
    background-color: rgb(46, 72, 6);
    border: none;
    padding: 10px;
    color: rgb(240, 238, 238);
    display: block;
}
nav.menu:hover ul{
   display: inline-block;
}
