*{
    text-align: center;
}

p{
    font-size: 30px;
    background-color:darkorchid;
}
.baslangıc{

    background-color: firebrick;
}

h1{
   
    color: aqua;

}
h2{
    background-color: burlywood;


}